  <ion-toolbar  class="app-header">
    <div class="logo" slot="start">
     <img src="/assets/gelatos-logo.svg">
    </div>
    <ion-chip *ngIf="!disabledClicks" (click)="basketClicked()" color="primary" slot="end">
      <ion-icon name="basket"></ion-icon>
      <ion-label>{{basketTotalItems?basketTotalItems:'BASKET'}}</ion-label>
    </ion-chip>
    <ion-chip *ngIf="!disabledClicks"  (click)="accountOnClick()" color="primary" slot="end">
      <ion-icon  name="person-circle-outline"></ion-icon>
            <ion-label>ACCOUNT</ion-label>
    </ion-chip>
    
  </ion-toolbar>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>HOME</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="shop">
        <ion-icon name="ice-cream-outline"></ion-icon>
                  <ion-label>SHOP</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="about-us">
        <ion-icon name="help-circle-outline"></ion-icon>
              <ion-label>ABOUT US</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="contact-us">
        <ion-icon name="chatbox-outline"></ion-icon>
              <ion-label>CONTACT US</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>


