<ion-header>
  <ion-toolbar>
    <ion-title>Basket</ion-title>
    <ion-button (click)="closeClicked()" color="light" class="icon-button" slot="end">
      <ion-icon color="primary" slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-segment [(ngModel)]="selectedTab" color="primary" >
    <ion-segment-button value="new">
      <ion-label>NEW ORDER</ion-label>
    </ion-segment-button>
    <ion-segment-button value="history">
      <ion-label>HISTORY</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content class="ion-padding" *ngIf="selectedTab === 'new'">
  <div class="header">
     <p *ngIf="message">{{message}}</p>
    <ion-row *ngIf="loading">
      <ion-col>
        <ion-spinner name="circles"></ion-spinner>
        <p>Loading products...</p>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="!loading" >
    <ion-list *ngFor="let item of itemsInBasket | async;" >
      <ion-item-sliding>
        <ion-item>
          <div>
            <p>{{item.name}}</p>
            <p style="font-weight: bold;">{{'$'+item.price}}</p>
          </div>
       </ion-item>
        <ion-item-options color="danger"  side="end">
          <ion-item-option  (click)="removeItem(item.id)">Remove</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

</ion-content>
<ion-footer *ngIf="selectedTab === 'new' && !loading">
   <ion-toolbar class="ion-padding">
      <div slot="start" class="">
        <h3>{{'$'+totalAmount}}</h3>
        <p *ngIf="totalItems < 5">Minimum checkout 5 items</p>
      </div>
      <ion-button (click)="checkOutClicked()" [disabled]="totalItems < 5" slot="end" color="primary">Checkout</ion-button>
   </ion-toolbar>
</ion-footer>
<ion-content class="ion-padding" *ngIf="selectedTab === 'history'">
  history
</ion-content>
