.shop-products-list{
    width: 100%;

}
.shop-products-list .header{
    text-align: center;
}
.content{
    width: 100%;
    text-align: center;

}
.content .product{
 display: flex;
 flex-direction: row;
 padding: 8px;
 box-shadow: 0px 0px 4px rgba(17, 12, 12, 0.25);border-radius: 10px;
 width: 70%;
 align-items: center;
 margin: auto;

}
.product div{
    flex: 1;
    text-align: center;

}
@media only screen and (max-width: 600px) {
    .content .product{
        display: flex;
        flex-direction: column;
        padding: 8px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 100%;
        align-items: center;
        margin: auto;
       
       }
}
