
<ion-content class="ion-padding">
<div class="introduction">
 <div class="intro-cover">
  <img src="/assets/home-cover-image.svg">
 </div>
 <div class="intro-text">
 <h1 >Looking for some of the best Ice creams?</h1>
 <p>If so explore and buy ice cream online from Gelatos and get delivery to anywhere in Georgia.</p>
 <div class="action">
  <ion-button  (click)="goToShop()" color="warning">SHOP NOW</ion-button>
 </div>
 </div>
</div>
<div class="introduction second">
    <div class="intro-cover" >
        <img src="/assets/gelatos-cups.svg">
       </div>
    <div class="intro-text">
    <h1 >Choose Your
        Own 5 Pack</h1>
    <p>The most delicious decision you'll make all day. 
        Customize a mix of the new monthly flavors you're most curious to taste and our unbelievably beloved classics.</p>
    <div class="action">
     <ion-button (click)="goToShop()" color="warning">CHOOSE NOW</ion-button>
    </div>
    </div>

</div>
<div class="fav-favorite">
  <div class="header">
    <h1>Fan Favorite Flavors</h1>
    <p>Discover a new favorite or relive a classic that keeps you coming back for more.
    </p>
  </div>
  <div class="body">
    <div class="flavor">
       <img src="/assets/smores.png">
       <p>S'mores</p>

    </div>
    <div class="flavor">
        <img src="/assets/salted-caramel-chocolate-chip.png">
        <p>Salted Caramel
            Chocolate Chip</p>

     </div>
     <div class="flavor">
        <img src="/assets/toffee-chocolate-chip.png">
        <p>Toffee Chocolate Chip </p>

     </div>
     <div class="flavor">
        <img src="/assets/vienna-coffee.png">
        <p>Vienna Coffee</p>

     </div>
  </div>
  <div class="see-all">
    <ion-chip (click)="goToShop()" color="primary" slot="end">
        <ion-icon name="add"></ion-icon>
        <ion-label>SEE ALL</ion-label>
      </ion-chip>
  </div>
</div>

</ion-content>
<ion-footer>
  <div class="footer">
    <p>© 2020 - <a>GELATOS</a> | <a href="https://sites.google.com/view/gelatos-agreement" target="__blank">Privacy Policy</a> |  <a href="https://sites.google.com/view/gelatos-agreement" target="__blank">Terms & Conditions</a></p>
  </div>
</ion-footer>

